<div>
    <div class="page-header">
        <h3>Home</h3>
        <span>
            <a href="{{wikiLinkRdf}}">{{wikiTextRdf}}</a>
            <br>
            <a href="{{wikiLinkLD}}">{{wikiTextLD}}</a>
            <br>
            <a href="{{dataSbbLink}}">{{dataSbbText}}</a>
        </span>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ng-map zoom="{{karte.zoom}}" center="{{karte.lat}}, {{karte.lng}}" style="height: 700px;">
                <map-data on-click="onClick()" set-style="{fillColor: 'grey', strokeWeight: 1}"
                          on-mouseover="onMouseover()"
                          on-mouseout="onMouseout()"
                          load-geo-json="./components/showcase/swiss.json">
                </map-data>
            </ng-map>
        </div>
        <div class="col-lg-12" style="margin-top: 25px;">
            <samp>{{geoType}} || {{name}}</samp>
        </div>
    </div>
</div>