<div>
    <div class="page-header">
        <h3>Home</h3>
        <ul>
            <li>
                <a href="{{wikiLinkRdf}}">{{wikiTextRdf}}</a>
            </li>
            <li>
                <a href="{{wikiLinkLD}}">{{wikiTextLD}}</a>
            </li>
            <li>
                <a href="{{dataSbbLink}}">{{dataSbbText}}</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>How many stations does a canton have? (click one and you will get the number)</p>
            <ng-map zoom="{{karte.zoom}}" center="{{karte.lat}}, {{karte.lng}}" style="height: 700px;">
                <map-data on-click="onClick()" set-style="{fillColor: 'grey', strokeWeight: 1}"
                  on-mouseover="onMouseover()"
                  on-mouseout="onMouseout()"
                  load-geo-json="./components/showcase/swiss.json">
                </map-data>
            </ng-map>
        </div>
        <div class="col-lg-12" style="margin-top: 25px;" ng-if="countStation">
            <samp>{{name}} has {{countStation}} public transport station(s)!</samp>
        </div>
        <div class="col-lg-12" style="margin-top: 25px;" ng-if="!countStation">
            <samp>{{laden}}</samp>
        </div>
    </div>
</div>
