<div>
    <h3>Showcase</h3>
    <br>
    <br>

    <div class="tab-content" id="showcaseContent">

        <div id="search">
            <input type="text" class="form-control" bs3-typeahead bs3-promise="data" bs3-items="15" bs3-displayText="displayName" bs3-afterSelect="afterSelect" ng-model="value" />
        </div>

        <div ng-if="!data" align="center" style="margin-top: 150px;margin-bottom: 150px;">
            <h5>Laden ...</h5>
        </div>

        <br>
        <h4 ng-if="detail">linked.transport.swiss</h4>
        <table class="table" ng-if="detail">
            <tbody>
                <tr>
                    <td width="150px" >ID</td>
                    <td><a href="{{detail.subject.value}}">{{detail.subject.value}}</a></td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>{{detail.name.value}}</td>
                </tr>
                <tr>
                    <td>Alternativ Name</td>
                    <td>{{detail.alternateName.value}}</td>
                </tr>
                <tr>
                    <td>Gemeinde</td>
                    <td><a href="{{detail.municipality.value}}">{{detail.municipality.value}}</a></td>
                </tr>
            </tbody>
        </table>

        <br>
        <h4 ng-if="adminData">data.admin.ch</h4>
        <table class="table" ng-if="adminData">
            <tbody>
                <tr>
                    <td width="150px">ID</td>
                    <td>{{adminData.id.value}}</td>
                </tr>
                <tr>
                    <td>same As</td>
                    <td><a href="{{adminData.sameAs.value}}">{{adminData.sameAs.value}}</a></td>
                </tr>
                <tr>
                    <td>version</td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="version in versionen">
                                <a href="{{version.version.value}}">{{version.version.value}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <h4 ng-if="dbpediaData">dbpedia.org</h4>
        <table class="table" ng-if="dbpediaData">
            <tbody>
                <tr>
                    <td width="150px">ID</td>
                    <td>{{dbpediaData.code.value}}</td>
                </tr>
                <tr>
                    <td>Kanton</td>
                    <td><a href="{{dbpediaData.canton.value}}">{{dbpediaData.canton.value}}</a></td>
                </tr>
                <tr>
                    <td>Land</td>
                    <td><a href="{{dbpediaData.country.value}}">{{dbpediaData.country.value}}</a></td>
                </tr>
                <tr>
                    <td>Detail</td>
                    <td>{{dbpediaData.abstract.value}}</td>
                </tr>
                <tr>
                    <td>Postleitzahl</td>
                    <td>{{dbpediaData.postalCode.value}}</td>
                </tr>
                <tr>
                    <td>Webseite</td>
                    <td><a href="{{dbpediaData.website.value}}">{{dbpediaData.website.value}}</a></td>
                </tr>
                <tr>
                    <td>Nachbarn</td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="neighbor in neighbors">
                                <a href="{{neighbor.neighbor.value}}">{{neighbor.neighbor.value}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <h4 ng-if="dbpediaData">graph visualisierung</h4>

        <div ng-if="dbpediaData" id='graph'>

        </div>
        <script>
            var width = document.getElementById('graph').offsetWidth, height = document.getElementById('graph').offsetHeight

            color = d3.scale.linear().domain([1, 6])
                    .interpolate(d3.interpolateHcl)
                    .range([d3.rgb("#FF0000"), d3.rgb('#11EEB3')]);

            var force = d3.layout.force()
                    .charge(-500)
                    .linkDistance(150)
                    .size([width, height]);

            var svg = d3.select("div#graph").append("svg")
                    .attr("width", width)
                    .attr("height", height);

            d3.json("/app/resources/rdf-graph.json", function (error, graph) {
                if (error) throw error;

                force
                        .nodes(graph.nodes)
                        .links(graph.links)
                        .start();

                var link = svg.selectAll(".link")
                        .data(graph.links)
                        .enter().append("line")
                        .attr("class", "link")
                        .style("stroke-width", function (d) {
                            return Math.sqrt(d.value);
                        })
                        .call(force.drag);

                var node = svg.selectAll(".node")
                        .data(graph.nodes)
                        .enter().append("g")
                        .attr("class", "node")
                        .call(force.drag);

                node.append("circle")
                        .attr("class", "node")
                        .attr("r", 5)
                        .style("fill", function (d) {
                            console.log(node);
                            return color(d.group);
                        });

                node.append("text")
                        .attr("dx", 12)
                        .attr("dy", ".35em")
                        .attr("class", "label")
                        .text(function (d) {
                            return d.name
                        })
                        .call(force.drag);

                force.on("tick", function () {
                    link.attr("x1", function (d) {
                                return d.source.x;
                            })
                            .attr("y1", function (d) {
                                return d.source.y;
                            })
                            .attr("x2", function (d) {
                                return d.target.x;
                            })
                            .attr("y2", function (d) {
                                return d.target.y;
                            });

                    node.attr("transform", function (d) {
                        return "translate(" + d.x + "," + d.y + ")";
                    });
                });
            });
        </script>
    </div>
</div>