<div>
    <h3 align="center">About</h3>
    <br>

    <div align="center" style="padding: 0 25px;">
        <p>In diesem kleinem Showcase wird ein Beispiel gezeigt wie man die Linked Open Data der SBB darstellen / benutzen kann.<br>
            Es ist nur eine ganz kleine und simple Applikation und sie sollte andere dazu ermutigen sich einmal mit Linked Data auseinander zu setzten.<br>
            Zu allen Daten welche im Showcase mittels SPARQL geholt werden kann man die dazugehörigen Querys dafür anschauen und wenn man will<br>
            sogar zu dem jeweiligen SPARQL-Endpoint abspringen und dort das Query erweitern oder minimieren.
        </p>
    </div>

    <br>

    <h5 align="center">Entwickler</h5>
    <br>

    <div align="center">
        <p>Die Applikation wurde von den 2 Lehrlingen Marius Schär & Tobias Bürgi entwickelt!</p>
        Marius Schär : <a href="mailto:marius.schaer@sbb.ch">marius.schaer@sbb.ch</a><br>
        Tobias Bürgi : <a href="mailto:tobias.buergi@sbb.ch">tobias.buergi@sbb.ch</a><br>
    </div>
</div>