html, body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    background-color: #EEEEEE;
}

.page-row {
    display: table-row;
    height: 1px;
}

.page-row-expanded {
    height: 100%;
}

div.footer ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    padding: 5px;
}

.ld-nav {
    background-color: #AF1602;
    padding: 0;
}

.ld-main {
    background-color: #FFFFFF;
    padding: 25px 20px;
}

.ld-footer {
    background-color: #AF1602;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0px;
}

.ld-footer-nav {
    background-color: #C51416;
    padding: 1.2rem 1rem 0rem 1.2rem;
    color: rgba(255,255,255,0.7);
}

.ld-footer-row {
    padding: 0rem 1rem;
    font-size: 14px;
    font-weight: lighter;
}

.ng-map {
    height: 500px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.typeahead {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.45);
}

.typeahead li a.dropdown-item:hover{
    background-color: #e91416;
    color: white;
}

.typeahead li.active a.dropdown-item{
    background-color: #e91416;
    color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none!important;
    border-color: #888!important;
}

.hideMap {
    visibility: hidden;
}